<ion-header>
  <ion-toolbar>
    <ion-title text-center>Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-img src="../assets/logo.png" width="50" height="50" class="img-logo"></ion-img>
  <!--
  <div text-center *ngIf="!ShowPin">
     <button ion-button clear large (click)="showPin()">Enter Pin</button>
     <br>
     <label *ngIf="Pin">Pin entered is {{Pin}}</label>
  </div>
  -->
  <div *ngIf="showEmail">
  	<ion-item>
		  <ion-label position="stacked">Ingrese su email</ion-label>
		  <ion-input type="email" required [(ngModel)]="user.email"><ion-icon name="mail"></ion-icon>&nbsp;</ion-input>
		</ion-item>
		<ion-button expand="full" class="sand" (click)="forgot()">Solicitar cambio</ion-button>
  </div>

  	
	
  <custom-pin *ngIf="showPin" pagetitle="Por favor ingrese su código de verificación" (change)="eventCapture($event)"></custom-pin>
	
  <div *ngIf="showNewPassword">
    <ion-item>
      <ion-label position="stacked">Ingrese la nueva contraseña</ion-label>
      <ion-input  [type]="passwordType" clearOnEdit="false" required [(ngModel)]="user.password"><ion-icon name="key"></ion-icon>&nbsp;</ion-input>
      <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <ion-button expand="full" class="sand" (click)="savePassword()">Guardar password</ion-button>
  </div>
</ion-content>