<ion-header>
  <ion-toolbar>
  	<ion-title color="chocolate ion-text-center" style="font-size: 15px;">{{ 'TERMS_TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
    	<ion-back-button></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-content class="bg-image">
	<ion-card>
  		<ion-card-header>
		</ion-card-header>
		<ion-card-content>
			<h2 class="ion-text-center">{{'TERMS_SUBTITLE' | translate }}</h2><br>
			<h2 class="ion-text-center">{{'TERMS_EVA' | translate }}</h2><br>
			<!--<h3>{{'TERMS_UPDATE' | translate}}</h3><br>-->
			<p class="ion-text-justify">{{'TERMS_READ' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_II' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_III' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_IV' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_V' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_VI' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_VII' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_VIII' | translate}}</p><br>
			<p class="ion-text-justify">{{'TERMS_READ_IX' | translate}}</p><br>
		</ion-card-content>
		<h6 class="ion-text-center" style="color: chocolate; margin-bottom: 25px;">Chocolate de Eva®</h6>
	</ion-card>
	<!--
	<ion-button expand="full" color="chocolatealt">
     		{{'ACCEPT_BUTTON' | translate}}
    </ion-button> 
	-->
</ion-content>
