  
ion-card {
  border-radius:20px !important;
  --background: #ffffff;
}



  .scroll-content {
      padding-top: 0 !important;
  }

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
    height: 100%;
  }

  .card-title-shadow
  {
    width: 100%;   
  }

  .text-on-image
  {    

    color: chocolate;
    margin-left: 15px;
    margin-top: -50px;  
    z-index: 10;
    text-align: left;
  }

  .text-on-image h2
  {
    color: #fff;
    font-size: 2em !important;
  }

  .text-on-image h3
  {
    color: #fff;
    padding-left: 3px;
    font-weight: 300;
  }

  .text-on-image h4
  {
    color: #ffffff;
    padding-left: 3px;
    font-weight: 150;
  }

  .text-on-image h5
  {
    color: #fff;
    padding-left: 3px;
    font-weight: 100;
  }

  .text-on-image h6
  {
    z-index: 10;
    color: #fff;
    padding-left: 3px;
    font-weight: 100;
  }

  ul {
    padding: 10px;
    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #ffb400;
      ion-icon {
        font-size: 40px;
      }
    }
  }

 
  .slideroption{
    // max-width: 100% !important;
    // max-height: 100% !important;
    border-radius: 5px;

        .slide-zoom{
                width:100% !important;
                height:100% !important;
            img{
                width:100% !important;
                height:100% !important;
                border-radius: 5px;
            }
        }

}

.custom {
  max-width: 100%; 
  width: 100%;
}

.movie-text {
  font-family: 'SFMoviePoster';
  font-size:  8vw;
  color: chocolate;
}

.sand-text {
  font-family: 'Quicksand-Bold';
  font-size:  2vw;
}

.ion-item {
 
}

