<ion-header>
  <ion-toolbar>
      <ion-title color="chocolate" class="ion-text-center">{{cake.name}}</ion-title>
    <ion-buttons slot="start" color="chocolate">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
     <ion-buttons slot="end" (click)="openCart()">
        <ion-icon name="cart" color="chocolate" style="margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <img [src]="cake.image" style="background-repeat: no-repeat; width: 100%;">    
    <ion-card style="margin-top: -25px;" padding>
      <ion-text color="chocolate">
        <h3 class="ion-text-center"><b>{{cake.name}} {{cake.peso}}</b></h3>    
      </ion-text>
      <h2 class="ion-text-center movie-text"><b>${{cake.price}}</b></h2>    
      <ion-list>

        <!--
        <ion-item lines="full">
          <ion-label position="stacked">{{'SIZE' | translate}}</ion-label>
          <ion-select color ="chocolate" okText="{{'ALERT_OK'|translate}}" cancelText="{{'ALERT_CANCEL'|translate}}" placeholder="{{'SELECT_ONE'|translate}}" (ionChange)="changeDescription($event)" >
            <ion-select-option *ngFor="let tamano of tamanos" value="{{tamano.id}}">{{tamano.text}}</ion-select-option>                               
          </ion-select>    
          <ion-input type="number" required hidden></ion-input>
        </ion-item>
        -->
        <div *ngIf="tipo">
          <h5 class="ion-text-center">{{'DETAIL_REACH'|translate}} {{reach}} {{'DETAIL_PEOPLE'|translate}}</h5>     
          <ion-item lines="full">
            <ion-label position="stacked">{{'DETAIL_MY_MESSAGE' | translate}}</ion-label>
            <ion-select color ="chocolate" okText="{{'ALERT_OK'|translate}}" cancelText="{{'ALERT_CANCEL'|translate}}" placeholder="{{'SELECT_ONE'|translate}}" [(ngModel)]="legend" name="legend" id="legend" (ionChange)="updateLegend($event)" [disabled]="personalizar">
              <ion-select-option *ngFor="let leyenda of legends" value="{{leyenda.value}}">{{leyenda.text}}</ion-select-option>                               
            </ion-select>    
          </ion-item>
          <ion-item lines="none">
            <ion-label>{{'PERSONALIZE'|translate}}</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="personalizar" color="chocolate" (ionChange)="updatePersonalize()"></ion-checkbox>       
          </ion-item>
          
          <div *ngIf="personalizar">        
            <ion-item lines="none">
               <p class="ion-text-center">{{'PERSONALIZE_WARNING'|translate}}</p>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">{{'DETAIL_MY_MESSAGE' | translate}}</ion-label>
              <ion-textarea [(ngModel)]="cakeData.mensaje" name="cakeData.mensaje" maxlength="24" type="text" placeholder="{{'DETAIL_MESSAGE'| translate}}" (ionChange)="checkMessage()"></ion-textarea><br>        
            </ion-item>

            <ion-item lines="none">
              <p style="color:#7d7d7d;">{{caracteres_restan}}/25</p>
            </ion-item>
          </div>

         

          <ion-item lines="full" style="margin-bottom: 35px;">
            <ion-label position="stacked">{{'INGREDIENTS' | translate}}</ion-label>
            <ion-select color="chocolate" okText="{{'ALERT_OK'|translate}}" cancelText="{{'ALERT_CANCEL'|translate}}" placeholder="{{'SELECT_ONE'|translate}}"  [(ngModel)]="cakeData.ingredientes">
              <ion-select-option *ngFor="let ingrediente of ingredientes" value="{{ingrediente.text}}">{{ingrediente.text}}</ion-select-option>         
            </ion-select> 
          </ion-item>
        </div>
      </ion-list>
    </ion-card>


</ion-content>

<ion-footer>  
  <!--<ion-button expand="block" color="chocolatealt" *ngIf="next" (click)="goNextSlide()" class="sand">
      {{'NEXT' | translate}}
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
  </ion-button>   -->
  <ion-button expand="block" color="chocolatealt" class="sand" (click)="addToCart()">
      {{'ADD_TO_CART' | translate}}
      <ion-icon slot="end" name="cart"></ion-icon>
  </ion-button>    
</ion-footer>

