<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">¡Gracias por su compra!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-img src="./../assets/logo.png" class="img-logo"></ion-img>
	<h4 class="ion-text-center">TALLER DE PAN Y POSTRES SA DE CV</h4>
	<h5 class="ion-text-center">Sucursal Zamora</h5>
	<h6 class="ion-text-center">RFC: TPP140306CCA</h6>
	<h6 class="ion-text-center">Zamora #403 Col. Centro</h6>
	<h6 class="ion-text-center">Coatzacoalcos, Veracruz</h6>
	<h6 class="ion-text-center">Tel: (921) 21 2 20 33</h6>
	<h6></h6>
	<h6 class="ion-text-center">Pedido #{{this.idPedido}} </h6><br>
	
	<div class="ion-padding">
		<ion-icon name="alert" color="warning"></ion-icon>
	 	<ion-label>Su pedido se entrega a partir de las {{ hora_entrega }} el día {{ fecha_entrega }}, 1 hora despues de la hora de entrega, no nos hacemos responsables de la calidad del producto.</ion-label>
	</div>
	<div>
		<ion-list>
			<ion-item class="ion-padding" *ngFor="let item of items ; let i = index">	
				<div>			
					<p><b>Pastel de {{item.descripcion}}</b></p>	
				 	<p><b>{{'CART_PRICE'|translate}}:</b> $ {{item.precio}}</p>
				 	<p *ngIf='item.peso == "1.8"'><b>Peso:</b> <!--{{item.peso}}--> 1/8 K</p>
					<p *ngIf='item.peso == "1.4"'><b>Peso:</b> <!--{{item.peso}}--> 1/4 K</p>
				 	<!--<p><b>Peso:</b> {{item.peso}}</p>-->
		          	<p><b>{{'DETAIL_MY_MESSAGE'|translate}}:</b> {{item.leyenda}}</p>
		          	<p><b>{{'INGREDIENTS'|translate}}:</b> {{item.chispas}}</p>
	          	</div>
	        </ion-item>
	        <p class="ion-padding">Total: $ {{total}}</p>
	    </ion-list>
	</div>
	<div class="ion-padding">
		<p>Cliente</p>
		<p>{{account.name}}</p>
		<p>{{account.email}}</p>
		<p>{{account.phone}}</p>
		<p></p>		
	</div>
	<p class="ion-padding">NOTA PEDIDO DE LA EMPRESA:</p>
	<p class="ion-padding">
		1.-NO SE HACEN DEVOLUCIONES EN EFECTIVO.<br>
		2.-SOLO SE PODRA HACER UN CAMBIO DE FECHA EN
		SU PEDIDO.<br>
		3.-LOS PASTELES CON RELLENO SOLO DURAN 4
		HORAS FUERA DE REFRIGERACION.<br>
	</p>
	<div id="wrapper">
	</div>
</ion-content>
<ion-footer>
	<ion-button expand="full" color="chocolatealt" (click)="generarTicket()"  class="sand" >
	 	Guardar ticket
	 	<ion-icon slot="end" name="save"></ion-icon>
	</ion-button>  
	<ion-button expand="full" color="danger" (click)="cerrar()"  class="sand" >
	 	Cerrar	 	
	</ion-button>  
</ion-footer>
