<ion-header>
  <ion-toolbar>
    <ion-title>Pagar Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="./../assets/logo.png" class="img-logo"></ion-img>
  <ion-card class="welcome-card" style="margin-left: 5px; margin-right: 5px;">
   
    <ion-card-header color="chocolate">
      <ion-card-subtitle style="color: #ffffff;">{{''|translate}}</ion-card-subtitle>
      <ion-card-title style="margin-bottom: 30px;"></ion-card-title>
      <ion-text color="white" >
        <h5 class="ion-text-center" style="color: #ffffff;">Por favor valide su pedido antes de generar el pago correspondiente</h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let item of items ; let i = index" style="border-radius: 15px; background-color: #e5e5e5; margin-top: 10px; margin-bottom: 10px;">
        <ion-item style="" lines="none">
          <div>   
            <p>{{item.descripcion}}</p>
            <p>{{item.chispas}}</p>
            <p>Leyenda: {{item.leyenda}}</p>
            <p>Costo: $ {{item.precio}}</p>
          </div>
        </ion-item>
      </div>
      <ion-row>
        <ion-col><strong>{{'CART_TOTAL'|translate}}</strong></ion-col>
        <ion-col><strong>{{currencyIcon}}{{payAmount}} {{currency}}</strong></ion-col>
      </ion-row>
      <div style="margin-top: 20px; margin-bottom: 25px;">
        <ion-text color="chocolate" >
          <h3 class="ion-text-center"><strong>Ingrese los datos del titular de la tarjeta de crédito o débito, esto es para su seguridad.</strong></h3>
        </ion-text>
      </div>
       <form action="/" method="post" id="payment-form">
        <ion-list mode="ios" form-list no-lines no-bg>
          <ion-item text-wrap>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" #nom placeholder="Nombre del titular" name="firstName"  [(ngModel)]="form.firstName"></ion-input>
          </ion-item>
          <ion-item text-wrap>
            <ion-label position="stacked">Apellidos</ion-label>
            <ion-input type="text" #prenom placeholder="Apellidos del titualr" name="lastName"  [(ngModel)]="form.lastName"></ion-input>
          </ion-item>
          <ion-item text-wrap>
              <ion-label position="stacked">Email*</ion-label>
              <ion-input type="email" #email placeholder="Email" name="email"  [(ngModel)]="form.email"></ion-input>
          </ion-item>
          <ion-item text-wrap>
              <ion-label position="stacked">Dirección*</ion-label>
              <ion-input type="text" #adresse placeholder="Dirección del titular" name="address"  [(ngModel)]="form.address"></ion-input>
          </ion-item>
        </ion-list>
        <div class="form-row">
          <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
          </div>
          <!-- Used to display Element errors -->
          <div id="card-errors" role="alert"></div>
        </div>
         <ion-button type="submit" color="chocolate" expand="full">{{'CART_PAY'|translate}}</ion-button>
      </form> 
    </ion-card-content>
  </ion-card>
  <!--
  <ion-img src="./../assets/logo.png" class="img-logo"></ion-img>
  <ion-card class="welcome-card" style="margin-left: 5px; margin-right: 5px;">
   
    <ion-card-header>
      <ion-card-subtitle>{{''|translate}}</ion-card-subtitle>
      <ion-card-title style="margin-bottom: 30px;">¡Chocolate de Eva! Por favor valide sus pedido e ingrese los datos de su tarjeta, esto es importante para su seguridad.</ion-card-title>
      <div *ngFor="let item of items ; let i = index">
        <ion-item>
          <div>   
            <p>{{item.descripcion}}</p>
            <p>{{item.chispas}}</p>
            <p>Leyenda: {{item.leyenda}}</p>
            <p>Costo: $ {{item.precio}}</p>
          </div>
        </ion-item>
      </div>
      <ion-row>
        <ion-col>{{'CART_TOTAL'|translate}}</ion-col>
        <ion-col> {{currencyIcon}}{{payAmount}} {{currency}} </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <form action="/" method="post" id="payment-form">
        <div class="form-row">
          <div id="card-element">
        
          </div>
        
          <div id="card-errors" role="alert"></div>
        </div>
        <ion-button type="submit" color="chocolate" expand="full">{{'CART_PAY'|translate}}</ion-button>
      </form>
    </ion-card-content>
  </ion-card> 
-->
</ion-content>
