<ion-header no-shadow no-border transparent>
  <ion-toolbar transparent no-border>
    <ion-buttons end *ngIf="showSkip">
      <ion-button  (click)="startApp()" color="chocolate" class="sand">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce class="bg-image">
  <ion-slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)" effect="fade" style="margin-bottom: 20px;">
    <ion-slide *ngFor="let slide of slides" class="slider">
    	<ion-list class="transparent">
    		<div lines="none" class="transparent">
      			<img [src]="slide.image" class="slide-image transparent"/>
      		</div>
      		<div lines="none"  class="ion-text-center" style="margin-top: 10px;">
      			<h2 class="slide-title transparent movie" style="color: #b85e21;">{{slide.title}}</h2>
      		</div>
      		<div lines="none" class="ion-text-justify">
      			<p class="transparent sand">{{slide.description}}</p>
      		</div>
      	</ion-list>
    </ion-slide>
    <ion-slide class="slide-tutorial">
    	<ion-list  class="transparent">
    		<div lines="none"  class="transparent">
      			<img src="./../assets/imgs/ica-slidebox-img-3.png" class="slide-image" style="margin-top: 50px;"/>
      		</div>      		
    		<div lines="none"  class="transparent" style="margin-top: 20px;">
      			<h2 class="slide-title movie" style="color: #b85e21;">{{ 'TUTORIAL_SLIDE4_TITLE' | translate }}</h2>
      		</div>
      		<div lines="none"  class="transparent">
      			<p class="transparent sand">{{ 'TUTORIAL_SLIDE4_DESCRIPTION' | translate }}</p>
      		</div>	          		
  			<ion-button block (click)="startApp()" color="chocolatealt" >
		        {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
		        <ion-icon name="arrow-forward"></ion-icon>
		    </ion-button>  			
  		</ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
