<ion-header>
  <ion-toolbar>
  	<ion-title color="chocolate ion-text-center">{{ 'SETTINGS_TITLE' | translate}}</ion-title>
    <ion-buttons slot="start">
    	<ion-back-button></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content padding>	
	<div class="ion-text-center">
		<ion-avatar style="background: #e0e0e0; margin-bottom: 25px;">
		  <img src="../assets/imgs/avatar.png">
		</ion-avatar>
		<ion-label><b>{{account.name}}</b></ion-label>
	</div>
	
	<ion-list>
 	  <ion-item>
	    <ion-label class="sand">Ver mis datos</ion-label>
	    <ion-toggle [(ngModel)]="datos" (ionChange)="mostrarDatos()"></ion-toggle>
	  </ion-item>

	  <ion-item>
	    <ion-label class="sand">Ver direcciones</ion-label>
	    <ion-toggle [(ngModel)]="direcciones" (ionChange)="mostrarDirecciones()"></ion-toggle>
	  </ion-item>

	  <ion-item>
	    <ion-label class="sand">Ver pedidos</ion-label>
	    <ion-toggle [(ngModel)]="pedidos"  (ionChange)="mostrarPedidos()"></ion-toggle>
	  </ion-item>
	</ion-list>

	<ion-card *ngIf="datos">
  		<ion-card-header color="chocolatealt">
	  		<h4 class="ion-text-center">MIS DATOS</h4>
		</ion-card-header>
		<ion-card-content>
			<form (ngSubmit)="updateUser()" autocomplete="off" [formGroup]="updateUserForm">
				<ion-list>
					<ion-item>
					  <ion-label position="stacked">{{'NAME'|translate}}</ion-label>
					  <ion-input  [(ngModel)]="account.name" formControlName="nameValidator" required ><ion-icon name="person"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					<ion-item>
					  <ion-label position="stacked">{{'EMAIL'|translate}}</ion-label>
					  <ion-input type="email"  [(ngModel)]="account.email" formControlName="emailValidator" required><ion-icon name="mail"></ion-icon>&nbsp;</ion-input>
					</ion-item>				
					<ion-item>
					  <ion-label position="stacked">{{'BIRTHDAY' | translate}}</ion-label>
					  <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MM YYYY" [(ngModel)]="account.birthday" formControlName="birthdayValidator" doneText="OK" cancelText="CANCELAR" required></ion-datetime>
					</ion-item>
					<ion-list>			 
					  <ion-item>
					    <ion-label>{{'GENDER' | translate}}</ion-label>
					    <ion-select placeholder="{{'SELECT'|translate}}" [(ngModel)]="account.gender" formControlName="genderValidator" required>
					      <ion-select-option value="m">{{'GENDER_WOMAN' | translate}}</ion-select-option>
					      <ion-select-option value="h">{{'GENDER_MAN' | translate}}</ion-select-option>
					    </ion-select>
					  </ion-item>
					</ion-list>
					<ion-item>
					  <ion-label position="stacked">{{'MOBILE'|translate}}</ion-label>
					  <ion-input type="tel" minlength="10" maxlength="10" [(ngModel)]="account.phone" formControlName="phoneValidator" required><ion-icon name="phone-portrait"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					<ion-item>
			          <ion-label position="stacked">{{'PASSWORD'|translate}}</ion-label>
			          <ion-input type="password" minlength="5" formControlName="passwordValidator" [(ngModel)]="account.password" required><ion-icon name="key"></ion-icon>&nbsp;</ion-input>
			        </ion-item>				
					<ion-button color="primary" expand="full" shape="round" color="chocolate" type="submit"  style="margin-top: 15px;">
				     		{{'UPDATE' | translate}}
				    </ion-button>
				</ion-list>
			</form>
		</ion-card-content>
	</ion-card>
	
	<ion-card style="margin-top: 25px; margin-bottom: 25px;" *ngIf="direcciones">
  		<ion-card-header color="chocolatealt">
	  		<h4 class="ion-text-center">MIS DIRECCIONES</h4>
		</ion-card-header>
		<ion-card-content>
			<form (ngSubmit)="updateAddress()" autocomplete="off" [formGroup]="updateAddressForm">
				<ion-list>
					<ion-item>
					  <ion-label position="stacked">Estado</ion-label>
					  <ion-select [(ngModel)]="address.estado" formControlName="estadoValidator" required placeholder="Selecciona un estado">
					  	 <ion-select-option value="Veracruz">Veracruz</ion-select-option>
					  </ion-select>
					</ion-item>
					<ion-item>
					  <ion-label position="stacked">Ciudad</ion-label>
					  <ion-select [(ngModel)]="address.ciudad" formControlName="ciudadValidator" required placeholder="Selecciona una ciudad">
					  	 <ion-select-option value="Coatzacoalcos">Coatzacoalcos</ion-select-option>
					  </ion-select>
					</ion-item>
					<ion-item>
					  <ion-label position="stacked">Colonia</ion-label>
					  <ion-select [(ngModel)]="address.colonia" formControlName="coloniaValidator" required placeholder="Selecciona una colonia">
					  	 <ion-select-option value="Centro">Centro</ion-select-option>
					  </ion-select>
					</ion-item>				
					<ion-item>
					  <ion-label position="stacked">Calle</ion-label>
					  <ion-input type="name" [(ngModel)]="address.calle" formControlName="calleValidator" placeholder="Ingrese su calle" required></ion-input>
					</ion-item>					
					<ion-item>
					  <ion-label position="stacked">N° Exterior</ion-label>
					  <ion-input type="number" [(ngModel)]="address.ext" formControlName="extValidator" placeholder="Número exterior" required></ion-input>
					</ion-item>
					<ion-item>
					  <ion-label position="stacked">N° Interior</ion-label>
					  <ion-input type="number" [(ngModel)]="address.int" formControlName="intValidator" placeholder="Número interior"></ion-input>
					</ion-item>	
					<ion-item>
					  <ion-label position="stacked">Referencia</ion-label>
					  <ion-input type="name" [(ngModel)]="address.referencia" formControlName="referenciaValidator" placeholder="Una referencia para dar contigo"></ion-input>
					</ion-item>	
					<ion-button color="primary" expand="full" shape="round" color="chocolate" type="submit"  style="margin-top: 15px;">
				     		Agregar dirección
				    </ion-button>
				</ion-list>
			</form>
		</ion-card-content>
	</ion-card>
	<ion-card style="margin-top: 25px; margin-bottom: 25px;" *ngIf="pedidos">
  		<ion-card-header color="chocolatealt">
	  		<h4 class="ion-text-center">ULTIMOS PEDIDOS</h4>
		</ion-card-header>
		<ion-card-content>
			<div *ngFor="let pedidos of pedidosactuales?.reverse()">
				<ion-item>
					<ion-grid style="margin: 10px;">
						<ion-row size="12"><strong>ID:{{pedidos.id}}</strong></ion-row>
					  	<ion-row><ion-col size="12">Fecha del pedido: {{pedidos.fecha_pedido}}</ion-col></ion-row>			      	
				      	<ion-row><ion-col size="12">Hora del pedido: {{pedidos.hora_pedido}}</ion-col></ion-row>
				      	<ion-row><ion-col size="12"><strong>Fecha de entrega: {{pedidos.fecha_entrega}}</strong></ion-col></ion-row>
				      	<ion-row><ion-col size="12"><strong>Hora de entrega: {{pedidos.hora_entrega}}</strong></ion-col></ion-row>
				      	<ion-row><ion-col size="12" class="ion-text-end"><strong>Total: ${{pedidos.total}}</strong></ion-col></ion-row>
				    </ion-grid>
				</ion-item>
				
			</div>
		</ion-card-content>
	</ion-card>
	<!-- 
	<ion-card>
		<ion-card-content>
			<ion-list>
			

			  <ion-item>
			    <ion-label>{{'BRANCH' | translate}}</ion-label>	
			    <ion-select name="sucursal" required placeholder="{{'SELECT'|translate}}" [(ngModel)]="sucursal" value="">           
		           <ion-select-option *ngFor="let suc of sucursales" value="{{suc.id}}">{{suc.nombresucursal}}</ion-select-option>
		        </ion-select>
			  </ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
	-->
</ion-content>