ion-avatar {
	margin: auto;
	--border-radius: 15px;
}

ion-toggle {
  --background: #D2D2D2;
  --background-checked: #D25D12;

  --handle-background: #D25D12;
  --handle-background-checked: #D2D2D2;
}

.movie {
  font-family: 'SFMoviePoster';
   font-size:  1.2em;
}

.sand {
  font-family: 'Quicksand-Bold';
  font-size:  1.2em;
}