<ion-header no-border transparent>
   <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
	<ion-img src="../assets/logo.png" width="50" height="50" class="img-logo"></ion-img>
	<ion-card>
  		<ion-card-header>
		</ion-card-header>
		<ion-card-content>
			<form (ngSubmit)="login()" autocomplete="off" [formGroup]="loginUserForm" padding>
				<ion-list>
					<ion-item>
					  <ion-label position="stacked">{{'EMAIL' | translate}}</ion-label>
					  <ion-input type="email" required [(ngModel)]="user.email" formControlName="emailValidator"><ion-icon name="mail"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					<ion-item>
			          <ion-label position="stacked">{{'PASSWORD' | translate}}</ion-label>
			          <ion-input  [type]="passwordType" clearOnEdit="false" required [(ngModel)]="user.password" formControlName="passwordValidator"><ion-icon name="key"></ion-icon>&nbsp;</ion-input>
			          <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
			        </ion-item>
			        <ion-button color="primary" expand="block" shape="" color="chocolate" class="sand ion-activatable ripple-parent" type="submit" style="margin-top:40px; margin-bottom: 10px;">
			     		{{'LOGIN' | translate}}
			     		<ion-ripple-effect></ion-ripple-effect>
			    	</ion-button>
				</ion-list>				
			</form>
		    <ion-button expand="full" fill="clear" class="sand" (click)="forgot()">
		     		{{'FORGOT' | translate}}
		    </ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
