<ion-header>
  <ion-toolbar>
      <ion-title color="chocolate" class="ion-text-center">{{'ABOUT_TITLE'|translate}}</ion-title>
    <ion-buttons slot="start" color="chocolate">
      <ion-back-button ></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>
<ion-content padding>
	<div class="item item-image">  
    	<img src="../assets/imgs/acerca.png" style="background-repeat: no-repeat; height: 80%; width: 100%;"> 
        
    </div>
	<div class="ion-text-justify">		
		<p>{{'ABOUT_TEXT_3'|translate}}</p>
		<p>{{'ABOUT_TEXT_2'|translate}}</p>
		<p>{{'ABOUT_TEXT_1'|translate}} <a href="mailto:eva@chocolatedeeva.com.mx">eva@chocolatedeeva.com.mx</a></p>		
	</div>
	<div style="margin-top: 20px;">
		<ion-grid>
			<ion-row>
				<ion-col>
					<img src="../assets/imgs/facebook.png" style="width: auto; display: block; margin: auto;">
				</ion-col>
				<ion-col>
					<img src="../assets/imgs/twitter.png" style="width: auto; display: block; margin: auto;">
				</ion-col>
				<ion-col>
					<img src="../assets/imgs/instagram.png" style="width: auto; display: block; margin: auto;">
				</ion-col>				
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
