<ion-content class="ion-padding">
  <h6 text-center margin-vertical>{{ pagetitle }}</h6>
 
  <div text-center large margin-vertical>
    <ion-icon [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
    <ion-icon [name]="pin.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
    <ion-icon [name]="pin.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
  </div>


  <div>
    <ion-grid text-center>
      <ion-row>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('1')">1</ion-button>
        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('2')">2</ion-button>
        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('3')">3</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('4')">4</ion-button>
        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('5')">5</ion-button>
        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('6')">6</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('7')">7</ion-button>
        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('8')">8</ion-button>
        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('9')">9</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>
         <ion-button shape="round" fill="outline" color="chocolate" (click)="handleInput('0')">0</ion-button>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="warning" (click)="handleInput('clear')">Borrar</ion-button>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-button shape="round" color="success" (click)="emitEvent()">OK</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>