<ion-header no-border transparent>
  <ion-toolbar  [class.show-background]="showToolbar" translucent>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen class="bg-image" fullscreen>  
  <ion-img src="../assets/logo.png" width="50" height="50" class="img-logo"></ion-img>
  <div *ngIf="user">
      <div *ngIf="user.picture"><img [src]="user.picture.data.url"></div>
      <div *ngIf="user.id">{{user.id}}</div>
      <div *ngIf="user.name">{{user.name}}</div>
      <div *ngIf="user.first_name">{{user.first_name}}</div>
      <div *ngIf="user.last_name">{{user.last_name}}</div>
      <div *ngIf="user.email">{{user.email}}</div>
  </div>

  <ion-button class="sand ion-padding" expand="full" shape="round" routerLink="/inicio" color="chocolate" style="margin-bottom: 15px;" >
        {{'LOGIN_EMAIL' | translate}}
  </ion-button>  
  <!--
	<ion-button class="sand" color="facebook" expand="full" shape="round" (click)="onClickFacebook()">
     		{{'LOGIN_FACEBOOK' | translate}}
  </ion-button>  
  <ion-button class="sand" color="google" expand="full" shape="round" (click)="onClickGoogle()">
    {{'LOGIN_GOOGLE'}}
  </ion-button> -->
  <ion-button class="sand ion-padding" expand="full" shape="round" routerLink="/register" color="chocolatealt" >
    {{'LOGIN_ACCOUNT' | translate}}
  </ion-button>
</ion-content>
