ion-toolbar {
   --background-color: transparent;
   --ion-color-base: transparent !important;
 }

.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

.toolbar-background {
  border-color: transparent;
  background: transparent;
}
  
.bg-image {
	--background: url(../../../assets/imgs/pattern.svg);
	background-size: cover;
	display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;   
    animation: animatedBackground 25s linear;   
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}

 .no-scroll .scroll-content {
   overflow: hidden;
 }

.img-logo  {
  width: 50% !important;  
  height : 50% !important;
  align-items: center;
  margin: auto;
  display: block;  
}

ion-input {
   --padding-start: 20px;
}

.movie {
  font-family: 'SFMoviePoster';
  font-size:  5vw;
}

.sand {
  font-family: 'Quicksand-Bold';
}