// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 

// and used throughout the application.
$SIDEMENU_TOP: #090404;
$SIDEMENU_BOTTOM: rgba(0, 0, 0, 0.81);
$SIDEMENU_TRANSPARENCY: rgba(0, 0, 0, 0.58);

.round {
  --width: 60px;
  --height: 60px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}

.side-menu-gradient{
  background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.toolbar-background {
  background-color: #000000;
}

.side-menu-background {
  --background: url('../assets/imgs/pattern2.svg') repeat;
}  

.side-menu-color {
  background-color: rgba(0, 0, 0, 0.5);
}

.list-style {
  padding: 10px;
}

.icon {
  color: #602414; 
}

.splash-logo {
  margin: auto;
  background: url('../assets/logo.png') no-repeat transparent;
  background-size: 100%;
  width: 120px;
  height: 120px;
}

.movie {
  font-family: 'SFMoviePoster';
}

.sand {
  font-family: 'Quicksand-Bold';
  font-size:  1.2em;
}