<ion-header no-border transparent>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title >{{'SIGNUP' | translate}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">
	<ion-card>
  		<ion-card-header>
		</ion-card-header>
		<ion-card-content>
			  <form (ngSubmit)="saveUser()" autocomplete="off" [formGroup]="saveUserForm" padding>
				<ion-list>
					<ion-item>
					  <ion-label position="stacked">{{'NAME'|translate}}</ion-label>
					  <ion-input required [(ngModel)]="account.name"  formControlName="nameValidator"><ion-icon name="person"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					<ion-item>
					  <ion-label position="stacked">{{'EMAIL'|translate}}</ion-label>
					  <ion-input type="email" required [(ngModel)]="account.email"  formControlName="emailValidator"><ion-icon name="mail"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					<!--
					<ion-item>
					  <ion-label position="stacked">{{'EMAIL_CONFIRMATION'|translate}}</ion-label>
					  <ion-input type="email" required [(ngModel)]="account.email"  formControlName="emailValidator"><ion-icon name="mail"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					-->
					<ion-item>
					  <ion-label position="stacked">{{'BIRTHDAY' | translate}}</ion-label>
					  <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MM YYYY" required [(ngModel)]="account.birthday" formControlName="birthdayValidator" doneText="OK" cancelText="CANCELAR"></ion-datetime>
					</ion-item>
					<ion-list>
					  <ion-item>
					    <ion-label>{{'GENDER' | translate}}</ion-label>
					    <ion-select placeholder="{{'SELECT'|translate}}" required [(ngModel)]="account.gender" formControlName="genderValidator">
					      <ion-select-option value="m">{{'GENDER_WOMAN' | translate}}</ion-select-option>
					      <ion-select-option value="h">{{'GENDER_MAN' | translate}}</ion-select-option>
					    </ion-select>
					  </ion-item>
					</ion-list>
					<ion-item>
					  <ion-label position="stacked" minlength="10" maxlength="10">{{'MOBILE'|translate}}</ion-label>
					  <ion-input type="tel" required [(ngModel)]="account.phone" formControlName="phoneValidator"><ion-icon name="phone-portrait"></ion-icon>&nbsp;</ion-input>
					</ion-item>
					<ion-item>
			          <ion-label position="stacked" >{{'PASSWORD'|translate}}</ion-label>
			          <ion-input  [type]="passwordType" clearOnEdit="false" required minlength="5" formControlName="passwordValidator" [(ngModel)]="account.password"><ion-icon name="key"></ion-icon>&nbsp;</ion-input>
			          <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
			        </ion-item>

					<ion-button color="primary" expand="block" shape="" color="chocolate" class="sand ion-activatable ripple-parent" type="submit" style="margin-top:15px;">
				     		{{'SIGNUP' | translate}}
				    	<ion-ripple-effect></ion-ripple-effect>
				    </ion-button>
				</ion-list>
			</form>
			<ion-item>				
				<ion-label class="ion-text-wrap">{{'TERMS_CONDITIONS' | translate}}</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
