<ion-header no-shadow no-border transparent>
  <ion-toolbar transparent no-border>
     <ion-button  (click)="omitir()" color="chocolate" class="sand">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-img src="../assets/logo.png" width="50" height="50" class="img-logo"></ion-img>
  <!--
  <div text-center *ngIf="!ShowPin">
     <button ion-button clear large (click)="showPin()">Enter Pin</button>
     <br>
     <label *ngIf="Pin">Pin entered is {{Pin}}</label>
  </div>
  -->
  	<ion-chip style="margin: 5px;" color="warning">
			<ion-icon name="alert"></ion-icon>
	 	<ion-label>Para poder comprar se requiere que valide su correo mediante el PIN</ion-label>
	</ion-chip >
	<custom-pin pagetitle="Por favor ingrese su código de verificación" (change)="eventCapture($event)"></custom-pin>
</ion-content>