.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.center-div {
	display: block;
	height:100%;
  	width:100%;
  	text-align: center;
}

.movie {
  font-family: 'SFMoviePoster';
  font-size:  5vw;
}

.sand {
  font-family: 'Quicksand-Bold';
}

.dot {
  height: 85px;
  width: 85px;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: block;
}

.screen-background {
  --background: url('../../../assets/imgs/pattern2.svg') repeat;
}  