<ion-header>
  <ion-toolbar>
  	<ion-title color="chocolate" class="ion-text-center">{{ 'CART_TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
    	<ion-back-button></ion-back-button>    
    </ion-buttons>
    <ion-buttons slot="end">
    	<ion-icon name="trash" color ="chocolate" (click)="emptyCart()" style="margin-right: 10px;"></ion-icon>     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header color="chocolate" style="background-color: #602414;">
  <!--<ion-title class="ion-text-center" style="color: white;">{{'CART_ORDER' | translate}}</ion-title>-->
</ion-header>
<ion-content fullscreen *ngIf="conArticulos" class="screen-background">
	
		<ion-card> 
	  		<ion-card-header color="chocolate">
	  			<h4 class="ion-text-center">INFORMACIÓN DEL PEDIDO</h4>
	  			<ion-chip style="margin: 5px;" color="warning"  class="ion-text-center">
	  				<ion-icon name="alert"></ion-icon>
				 	<ion-label  class="ion-text-center">Los pedidos se entregan a partir de 12hrs despues de realizado el pedido</ion-label>
				</ion-chip >
			</ion-card-header>
			<ion-card-content>
				<h6 class="ion-text-center sand" style="margin-top: 15px; margin-bottom: 15px; font-size:18px; color:#602414;">{{'TODAY_IS'| translate}} {{ today | date: 'dd/MM/yyyy' }}</h6>			
				<!--<h6 class="ion-text-center">{{'ORDER_IS'| translate}}</h6>-->

				<ion-item>
				  <ion-label position="stacked">Fecha de entrega</ion-label>
				  <ion-datetime displayFormat="YYYY-MM-DD" min="{{minDate}}" max={{maxDate}} placeholder="Seleccione la fecha" doneText="OK" cancelText="CANCELAR" [(ngModel)]="fecha" required></ion-datetime>
				</ion-item>
				<ion-item>
				  <ion-label position="stacked">Hora de entrega - Hrs</ion-label>
				  <ion-datetime displayFormat="HH" min="10:00" max="17:00" placeholder="Seleccione la hora"  [(ngModel)]="hora" doneText="OK" cancelText="CANCELAR" required></ion-datetime>&nbsp;
				</ion-item>
				<ion-item>
				  <ion-label position="stacked">Pickup o entrega a domicilio</ion-label>
				  <ion-select placeholder="¿Vienes o te lo llevamos?" [(ngModel)]="tipo_servicio" okText="{{'ALERT_OK'|translate}}" cancelText="{{'ALERT_CANCEL'|translate}}"  (ionChange)="checkServicio($event)">
				    <ion-select-option value="pickup">Pickup</ion-select-option>
				    <ion-select-option value="domicilio">Entrega a domicilio</ion-select-option>
				  </ion-select>
				</ion-item>
				<div *ngIf="domicilio">					
					<ion-img src="../assets/imgs/spartans.png" style="align-items: center; height:65px; margin-top:15px; margin-bottom: 15px;"></ion-img>
					<ion-item lines="none">
						
						<ion-text class="ion-text-justify" style="margin-top: 15px; margin-bottom: 15px;">Bien, te llevaremos el pastel a domicilio, nuestro proveedor de  entrega domicilio es <strong>Radio Taxi Spartano's</strong> ya que Chocolate de Eva no presta el servicio de entrega a domicilio. Confiamos en que tu pedido llegara a tiempo y en buen estado. <strong>Por favor recuerda tener a la mano y en efectivo el costo del envío. El costo del envío no va incluido en el precio de tu pedido y este lo debes pagar al momento de recibir tu pedido.</strong> </ion-text>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Colonia</ion-label>
						<ion-select placeholder="Por favor selecciona la colonia" [(ngModel)]="colonia">
						    <ion-select-option value="35">Centro</ion-select-option>
						    <ion-select-option value="35">Maria de la Piedad</ion-select-option>
					  </ion-select>
					</ion-item>
					<ion-item lines="">
						<ion-label position="stacked">Calle</ion-label>
						<ion-input clearInput value="" type="text" placeholder="Tu calle" [(ngModel)]="calle" ></ion-input>
					</ion-item>
					<ion-item lines="">
						<ion-label position="stacked">Número exterior</ion-label>
						<ion-input clearInput value="" placeholder="El número exterior" type="number" [(ngModel)]="numero_ext" ></ion-input>
					</ion-item>
					<ion-item lines="">
						<ion-label position="stacked">Referencias</ion-label>
						<ion-textarea clearInput value="" type="text" placeholder="Alguna referencia para ubicar tu domicilio" [(ngModel)]="referencia" ></ion-textarea>
					</ion-item>
					
					<ion-item lines="">
						<ion-label position="stacked">Costo del envío a domicilio</ion-label>
						<ion-input clearInput value="" type="number" [(ngModel)]="costo_envio" disabled="true"></ion-input>
					</ion-item>


				</div>
				<ion-item *ngIf="pickup" lines="none">
					<ion-text class="ion-text-justify" style="margin-top: 15px; margin-bottom: 15px;">Seleccionaste pick-up, es decir, <strong>pasarías por tu pastel a la sucursal Zamora en el horario que selecciones</strong>, donde te estara esperando tu pedido.</ion-text>
				</ion-item>
				
			</ion-card-content>
		</ion-card>
		

		<!--
		<div style="background-color: #602414; height: 40px; margin-top: 15px; text-align: center;" class="center-div">
			<h5 style="color: white;" class="ion-align-self-center">{{'CART_PRODUCTS' | translate}}</h5>
		</div>
		-->
		<h3 class="ion-text-center sand" style="color:#602414; font-size: 18px;">Mis productos en el carrito</h3>
		<ion-list #mylist tooltip="Desplaza a la izquierda para eliminar" navTooltip>
			 <ion-item-sliding *ngFor="let item of items ; let i = index" >
			 		
				 	<ion-card style="border-radius: 10px;">
				  		<ion-card-header color="chocolatealt">
				  			{{item.descripcion}}
						</ion-card-header>
						<ion-card-content>
							<ion-item lines="none" padding>	
								<div>				
								 	<p><b>{{'CART_PRICE'|translate}}:</b> $ {{item.precio}}</p>
								 	
								 	<p *ngIf='item.peso == "1.8"'><b>Peso:</b> <!--{{item.peso}}--> 1/8 K</p>
								 	<p *ngIf='item.peso == "1.4"'><b>Peso:</b> <!--{{item.peso}}--> 1/4 K</p>

						          	<p><b>{{'DETAIL_MY_MESSAGE'|translate}}:</b> {{item.leyenda}}</p>
						          	<p><b>{{'INGREDIENTS'|translate}}:</b> {{item.chispas}}</p>
					          </div>
					        </ion-item>
						</ion-card-content>
					</ion-card>		 	
	            <ion-item-options>               
		            <ion-button icon-only (click)="deleteItem(item, i)" color="danger">
		                <ion-icon name="trash"></ion-icon>
		            </ion-button>
	            </ion-item-options>
			 </ion-item-sliding>
		</ion-list>
</ion-content>
<ion-content *ngIf="sinArticulos" class="screen-background">
		<ion-grid style="height: 100%">
		    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
		       <div text-center>
		        <h4 style="margin-bottom: 20px;" color="chocolate"><strong>Uff, parece que no has colocado artículos en el carrito :/</strong></h4>
		        <ion-img src="../assets/imgs/cart.svg" style="width: 45%;" class="animated bounce center"></ion-img>
		      </div>
		    </ion-row>
		</ion-grid>
</ion-content>

<ion-footer style="background-color: #ffffff;">
	<h4 class="ion-text-end" style="margin-right: 20px;"><b>{{'CART_TOTAL' | translate}}: ${{totalPrice}}</b></h4>	
 	<ion-button expand="full" color="chocolatealt" class="sand" (click)="getCardData()">
     		REVISAR Y PAGAR
    </ion-button>   
</ion-footer>