<ion-header>
  <ion-toolbar >
    <ion-title color="chocolate ion-text-center">Chocolate de Eva</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="chocolate" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        
        <ion-icon name="cart" slot="icon-only" color ="chocolate" (click)="openCart()" style="margin-right: 10px;" tooltip="Carrito de compras" navTooltip></ion-icon>
        <ion-badge color="danger" style="position: absolute; right: -5px; top: -3px;">{{cartItems}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>	
	<ion-searchbar placeholder="{{'TAB2_TITLE'|translate}}" (ionInput)="getCakes($event)" ></ion-searchbar>
	<!--
	<ion-slides pager="true" [options]="sliderOpts" #slider>		   
		<ion-slide>
	     	<ion-img src="../assets/imgs/banner.png"></ion-img>
	    </ion-slide>
	    	
	    <ion-slide>
	     	<ion-img src="../assets/imgs/banner2.png"></ion-img>
	    </ion-slide>

	    <ion-slide>
	     	<ion-img src="../assets/imgs/banner3.png"></ion-img>
	    </ion-slide>
	</ion-slides>
	-->
	<ion-grid>
		<ion-row>			
				<ion-col size="6"  *ngFor="let cake of currentCakes">
		    		<ion-card class="card-img animated pulse ion-no-padding ion-activatable ripple-parent" (click)="openItem(cake)" >	

		    			<!--<div class="corner-ribbon top-left sticky green shadow">Delicioso</div>-->
		    			<!--<ion-img [src]="cake.image" style="height: 30%; width: 30%;"></ion-img>-->
		    			<img-loader [src]="cake.image"  style="height: 30%; width: 30%;" [useImg]="true"></img-loader>
		    			<ion-ripple-effect></ion-ripple-effect>
		    			<ion-card-content>
		    				<div class="ion-text-center sand">
						    	<h6>{{cake.description}} {{cake.peso}}</h6>					        
						    </div>
						</ion-card-content>					
		    		</ion-card>
				</ion-col>		 
	    </ion-row> 
    </ion-grid>

</ion-content>
<ion-footer>	
 	<ion-button expand="full" color="chocolatealt" (click)="openCart()"  class="sand" >
     	{{'DASHBOARD_VIEW_BUTTON' | translate}}
     	<ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>   
</ion-footer>
