 $card-ios-margin-left: 0;
 $card-ios-margin-right: 0;
 $card-md-margin-left: 0;
 $card-md-margin-right: 0;

$alert-radio-button-font-size: 18px;
$alert-md-radio-label-font-size:10px;

.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto
 }

ion-card {
	background-color: #602414;
	margin-bottom: 5px !important;
  flex-direction: column;
  width: 100% !important;
  border-radius: 10px;
 }

h6 {
	color: white;
  font-size: 10px;
}



ion-slides {
  --bullet-background-active: #602414;
  --bullet-background: #D25D12;
    background-color: transparent;
    border-radius: 15px;
}

.exitAlert{
    background-color: #ffffff;
    color: #602414;
    button{
      background-color: #602414;
      color: #ffffff;        
    }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 15px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}