.welcome-card ion-img {
	max-height: 30vh;
}

ion-toolbar {
--background: transparent;
--ion-color-base: transparent !important;
}

.bg-image {
	--background: url(../../assets/imgs/pattern.svg);
    margin: auto;
}


.no-scroll .scroll-content {
	overflow: hidden;
}

.img-logo  {
	width: 50% !important;  
	height : 50% !important;
	align-items: center;
	margin: auto;
	display: block;  
}

ion-footer {
   --background-color: transparent;
   --ion-color-base: transparent !important;
 }


