<ion-header>
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="ion-padding" class="bg-image"> 


  <ion-img src="../assets/logo.png" class="img-logo animated bounce"></ion-img>
  <ion-button color="chocolate" expand="block" shape=""  class="sand ion-padding ion-activatable ripple-parent" routerLink="/inicio" style="margin-top: 25px; margin-bottom: 15px;">
        {{'LOGIN_ENTER'| translate }}
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-button color="chocolatealt" expand="block" shape=""  class="sand ion-padding ion-activatable ripple-parent" routerLink="/register">
        {{'LOGIN_REGISTER'| translate }} 
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>

</ion-content>
